
.word-label {
  position: absolute;
  //background: rgba(255, 255, 255, .5);
  background-color: white;
  opacity: 0.65;
  font-weight: bold;
  font-size: 16px;
  top: 10px;
  padding: 5px;
}
.submission-image {
  margin: auto;
  display: table;
}

.score-text {
  padding-top: 10px;
}
#points-text-wrapper {

  text-align: right;
  margin-bottom: 10px;
  h3 {
    margin: 0px;
  }
  img {
    width: 18px;
    height: 18px;
  }

  #points-text-2, #points-text-3,
  #points-text-4, #points-text-5 {
    display: none;
  }

}