
.word-label {
  position: absolute;
  //background: rgba(255, 255, 255, .5);
  background-color: white;
  opacity: 0.65;
  font-weight: bold;
  font-size: 16px;
  top: 10px;
  padding: 5px;
}
.submission-image {
  margin: auto;
  display: table;
}

.score-text {
  line-height: 50px;
}