#leaderboard-wrapper
  #done-message
    %h3
      Wow! You've voted for everything.
    %h4
      %a{href: leaderboards_path}
        Check out the leaderboard.
    %h4
      (or swipe back to take another photo)