.row
  .submission-image.col-xs-12
    .word-label
      This is the word
    %img.img-responsive{src: 'http://placekitten.com/300/300'}
.row
  .action-btn.col-xs-6
    %a#yes{href: '#', 'data-role' => 'button', 'data-icon' => 'check'}
      great
  .action-btn.col-xs-6
    %a#no{href: '#', 'data-role' => 'button', 'data-icon' => 'delete'}
      stinky
