<!DOCTYPE html>
<html>
<head>
  <title>Backshop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div data-role="page">

    <!--<div data-role="header">-->
      <!--<h1>My Title</h1>-->
    <!--</div>&lt;!&ndash; /header &ndash;&gt;-->

    <div data-role="content" class="container">
      <%= yield %>
    </div><!-- /content -->

  </div><!-- /page -->



</body>
</html>
